body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column-reverse;
}

h1 {
	text-align: center;
}

#welcomeBox {
	background: purple;
	padding: 15px;
	color: white;
	margin: 25px;
}

#display {
	position: fixed;
	display: grid;
	z-index: 2;
	align-self: end;
	right: 15px;
	padding: 15px;
	grid-gap: 5px;
	overflow: hidden;
	background-color: #f1f1f1;
}

#display a {
	text-decoration: none;
	color: black;
}

#atom-preview {
}

#hide {
	overflow: hidden;
	display: none;
}

#menuBtn {
	position: fixed;
	z-index: 3;
	background-color: #eee;
	color: #444;
	align-self: end;
	right: 15px;
	padding: 15px;
	top: 15px;
	cursor: pointer;
	padding: 5px;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}

.active,
#menuBtn:hover {
	background-color: #ccc;
}

.add-book {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 150px;
	margin-top: 15px;
}

.hide {
	display: none;
}

.text-green {
	color: aqua;
	margin-left: 10px;
}
.text-red {
	color: red;
	margin-left: 10px;
}
